<!DOCTYPE html>
<html>
	<head>
	
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Rubik:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">

	    <title>Amir's Blog Project</title>
	    <meta charset="UTF-8">
	    <meta name="author" content="Amirrudin">
    
    </head>
	<body>

		<h1>Welcome to Amirrudin's Blog!</h1>
		<p><%= @var %></p>
		<p><%= link_to 'My Blog', controller: 'articles' %></p>

	</body>
</html>